- @group.messages.each do |group_message|
  .right-messages__middle--user
    .right-messages__middle--user__list
      = group_message.user.name
      %span
        = group_message.created_at
  .right-messages__middle--message
    = group_message.text
