- @group.messages.each do |group_message|
  %div.right-messages__middle
    %div.right-messages__middle--user
      = group_message.user.name
      = group_message.created_at
    %div.right-messages__middle--message
      = group_message.text