
%html
  %body
    %div.contents
      %div.top-bar
        チャットグループが作成されました。
      %div.left-bar
        %div.left-bar__top
          left top
        %div.left-bar__bottom
          left bar bottom

      %div.right-messages
        %div.right-messages__top
          messages top
        %div.right-messages__middle
          messages middle
          %div.right-messages__middle--bottom
            messages bottom
            %div.right-messages__middle--bottom___sendbutton
              Send


/ %div.right-messages__bottom
/   bottom
/   = link_to messages_path do
/     %i.fa.fa-cog


/ %div.top-bar チャットグループが作成されました。
/ %body.contents
/   %div.left-bar
/     %div.left-bar__top
/       left bar top
/     %div.left-bar__bottom
/       left bar bottom

/   %div.right-messages
/     %div.right-messages__top
/       messages top
/     %div.right-messages__middle
/       messages middle
/       %div.right-messages__middle--bottom
/         messages bottom



