<div class='top-bar'>チャットグループが作成されました。</div>
<div class='contents clearfx'>
<div class='left-bar'>
<div class='left-bar__top'>left bar top</div>
<div class='left-bar__bottom'>left bar bottom</div>
</div>
<div class='right-messages'>
<div class='right-messages__top'>messages top</div>
<div class='right-messages__middle'>messages middle</div>
<div class='right-messages__middle--bottom'>messages bottom</div>
</div>
</div>
<!-- %div.top-bar チャットグループが作成されました。 -->
<!-- %div.upper-information -->
<!-- %div.upper-information__left upper left -->
<!-- %div.upper-information__right upper right -->
<!-- %div.lower-contents -->
<!-- %div.lower-contents__left lower left -->
<!-- %div.lower-contents__right lower rigth -->
