

%div.top-bar チャットグループが作成されました。
%div.contents.clearfx
  %div.left-bar
    %div.left-bar__top left bar top
    %div.left-bar__bottom left bar bottom

  %div.right-messages
    %div.right-messages__top messages top
    %div.right-messages__middle messages middle
    %div.right-messages__middle--bottom messages bottom
/ %div.top-bar チャットグループが作成されました。
/ %div.upper-information
/   %div.upper-information__left upper left
  

/   %div.upper-information__right upper right


/ %div.lower-contents
/   %div.lower-contents__left lower left


/   %div.lower-contents__right lower rigth






