
%html
  %body
    %div.contents
      %div.top-bar
        チャットグループが作成されました。
      %div.left-bar
        %div.left-bar__top
          %h1.left-bar__top--title
            Daisuke Uchiuda
          = link_to messages_path do
            %i.fa.fa-cog
            %i.fa.fa-pencil-square-o
        %div.left-bar__bottom
          left bar bottom

      %div.right-messages
        %div.right-messages__top
          messages top
        %div.right-messages__middle
          messages middle
          %div.right-messages__middle--bottom
            messages bottom
            %p.right-messages__middle--bottom___typearea
              type a message
            %div.right-messages__middle--bottom___sendbutton
              Send

