
%html
  %body
    %div.contents
      %div.left-bar
        %div.left-bar__top
          %h1.left-bar__top--title
            Daisuke Uchiuda
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
        %div.left-bar__main
          .left-bar__main--group_name
            - @groups.each do |group|
              = simple_format(group.name)
              .left-bar__main--group_name--latest_message
                まだメッセージはありません
      %div.right-messages
        %div.right-messages__top
          %button.right-messages__top--edit_button
            Edit

        %div.right-messages__middle

        %div.right-messages__bottom

