.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  p.chat-group-user__name{
    float:left;
  }
  a.user-search-add {
    color: #38aef0;
  }
  &_errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
    li:first-child {
      color: red;
      margin-bottom: 10px;
      font-size: 15px;
    }
  }
  &__field {
    align: center;
    padding-top: 20px;
    &--left {
      text-align: right;
      font-weight: bold;
      float: left;
      width: 30%;
      padding: 20px 20px;
      box-sizing: border-box;
    }
    &__field:after{
      content: "";
      clear: both;
      display: block;
    }
    &--right {
      float: right;
      width: 70%;
      padding: 10px 0;
      &___input{
        width: 100%;
        padding: 10px 15px;
      }
      &__action-btn {
        input {
          margin-top: 30px;
          padding: 12px 20px;
          color: #fff;
          background-color: #38aef0;
          border: 0;
        }
      }
    }
    .chat-group-user {
      width: 100%;
      border-bottom: 1px solid #ddd;
      padding: 10px 10px;
      &__name {
      }
      &__btn {
        float: right;
      }
    }
    &__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }
}
.chat-group-user__btn--remove{
  color: red;
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

