
html {
  height: 100%;
  body {
    height: 100%;
    .contents {
      height     : 100%;
      position: relative;
      .left-bar {
        width             : $leftbar-width;
        float             : left;
        height            : 100%;
        &__top {
          height            : calc(#{$left-bar-top__height} - #{$contents-padding-top});
          background-color  : $navy;
          color             : $letter-white;
          width             : $leftbar-width;
          font-size         : 16px;
          font-weight       : bold;
          padding-top       : $contents-padding-top;
          &--title {
            margin  : 0 $left-bar-padding;
            float   : left;
          }
          i.fa.fa-pencil-square-o {
            color        : $letter-white;
            font-size    : $font_awesome_size ;
            float        : right;
          }
          i.fa.fa-cog {
            color        : $letter-white;
            font-size    : $font_awesome_size ;
            float        : right;
            margin-right : $left-bar-padding;
            margin-left  : 10px;
            }
          }
          &__main {
            background-color  : $left-bar__bottom-color;
            height            : calc(100% - #{$left-bar-top__height});
            overflow: scroll;
            &--group_name {
              padding-top   : 20px;
              padding-left  : $left-bar-padding ;
              color: $letter-white;
              &--latest_message {
                padding-bottom  : 40px;
                font-size: 11px;
              }
            }
          }
        }
      .right-messages {
        height            : calc(100% - #{$top-bar-height} - #{$message_box_height} );
        margin-left       : $leftbar-width;
        z-index: 2;
        overflow: scroll;
        &__top {
          height : $left-bar-top__height;
          margin-bottom     : $upper-righ-margin-bottom;
          position: fixed;
          width: 70%;
          background-color: $letter-white;
          &--edit_button {
            float             :right;
            margin-top        : 28px;
            margin-right      : 40px;
            height            : 40px;
            padding-left      : $edit_button_padding;
            padding-right     : $edit_button_padding;
            font-size         : 17px;
            color             : $skyblue;
            border            : 1px solid $skyblue;
            background-color  : white;
          }
          &--groupname {
            font-size     : 20px;
            padding-left  : $right-bar-padding;
            padding-top   : $contents-padding-top;
            color         : #333333;
          }
          &--member {
            padding-left  : $right-bar-padding;
            font-size     : 12px;
            color         : $black;
            padding-top   : 15px;
          }
        }
        &__middle {
          margin-left  : $right-bar-padding;
          margin-bottom  : 10px;
          margin-top: $left-bar-top__height;
          &--user {
            padding-top  : $user_comment_margin-top;
            font-weight  : bold;
            color        : $week_gray;
            width        : 100%;
            &__list{
              font         : 16px;
              span {
                color         : $black;
                font-size     : 12px;
                padding-left  : $margin-btw-sender-and-message;
              }
          }
          &--message {
            font-size  : 14px;
            padding-top: $margin-btw-sender-and-message;
          }
        }
      }
        &__bottom {
          height            : $bottom_margin_height;
          background-color  : $bottom-gray;
          position: absolute;
          bottom:0;
          right:0;
          width:calc(100% - #{$leftbar-width});
          &---message_area {
            &__text {
              height          : $message_box_height;
              margin-top      : $bottom_margin_top;
              width           : calc(100% - #{235px});
              margin-left     : 40px;
              display         : table-cell;
              padding-left    : 10px;
              border          : none;
              margin-right    : -5px;
            }
              i.fa.fa-file-image-o {
                color             : black;
                background-color  : white;
                width             : 25px;
                padding-top       : 14px;
                padding-bottom    : 16px;
                padding-left      : 5px;
                font-size         : $font_awesome_size;
                input {
                  display: none;
                }
              }
            &__send {
              background-color: $skyblue;
              width         : 100px;
              height        : $message_box_height;
              color         : white;
              right         : 0;
              margin-top    : $bottom_margin_top;
              margin-left   : 15px;
              margin-right  : $right-bar-padding;
              position      : absolute;
              border        : none;
            }
          }
        }
      }
    }
  }
}
