
$top-bar-height            : 25px;
$leftbar-width             : 300px;
$left-bar-top__height      : 100px;
$letter-white              : #FFFFFF;
$background-white          : #AAAAAA;
$skyblue                   : #38AEF0;
$black                     : #999999;
$left-bar__bottom-color    : #2f3e51;
$left-bar-padding          : 20px;
$right-bar-padding         : 40px;
$contents-padding-top      : 35px;
$upper-righ-margin-bottom  : 6px;
$user_comment_margin-top   : 40px;
$bottom_margin_top         : 20px;
$bottom_margin_height      : 90px;

