
$top-bar-height            : 25px;
$leftbar-width             : 300px;
$left-bar-top__height      : 100px;
$letter-white              : #FFFFFF;
$background-white          : #AAAAAA;
$skyblue                   : #38AEF0;
$black                     : #999999;
$navy                      : #253141;
$left-bar__bottom-color    : #2f3e51;
$week_gray                 : #454A54;
$bottom-gray               : #DDDDDD;
$left-bar-padding          : 20px;
$right-bar-padding         : 40px;
$contents-padding-top      : 35px;
$upper-righ-margin-bottom  : 6px;
$user_comment_margin-top   : 40px;
$bottom_margin_top         : 20px;
$bottom_margin_height      : 90px;
$font_awesome_size         : 20px;
$edit_button_padding       : 20px;
$message_box_height        : 50px;

// グループ作成 変数
$common-height: 70px;
