@import "./reset";

/*
 *= require font-awesome
 */

$top-bar-height: 25px;
$leftbar-width: 300px;
$left-bar-top__height: 100px;
$white: #FFFFFF;
$left-bar__bottom-color: #2f3e51;

html {
  height: 100%;

  body {
    height: 100%;


    .contents {
      height: 100%;
      width: calc(100% - #{$top-bar-height});


      .top-bar {
        background-color: #38AEF0;
        height: $top-bar-height;

      }
      

      .left-bar {
        width: $leftbar-width;
        background-color: orange;
        float: left;
        height: calc(100% - #{$top-bar-height});



          &__top {
            height: $left-bar-top__height;
            background-color: #253141;
            color: $white;
          }

          &__bottom {
            background-color: $left-bar__bottom-color;
            color: $white;
            height: calc(100% - #{$left-bar-top__height});

          }

      }


      .right-messages {
        background-color: green;
        width: calc(100% - $leftbar-width);
        height: calc(100% - #{$top-bar-height});
        margin-left: $leftbar-width;


          &__top {
            height: $left-bar-top__height;
          }
          &__middle {
            background-color: orange;
            height: calc(100% - #{$left-bar-top__height} );
            position: relative;
              &--bottom {
                position: absolute;
                height: 90px;
                background-color: red;
                width: 100%;
                float: right;
                bottom: 0;
                &___typearea {
                  background-color: white;
                  height: 50px;
                  width: calc(100% - $leftbar-width);
                }
                &___sendbutton {
                  float: right;
     
                   }
             }
           }
          }
      }
    }
  }
